In [126]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel("testing_data.xlsx")

In [64]:
df2=df.fillna(0)

In [65]:
df2

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match
0,910,10000000,2000,0.0,0,247.0,7920.0,10000000,Found,Found
1,910,10000001,2000,0.0,0,0.0,7920.0,10000001,Found,Found
2,910,10000002,2000,0.0,0,0.0,7920.0,10000002,Found,Found
3,910,10000003,2000,0.0,0,0.0,7920.0,10000003,Found,Found
4,910,10000004,2000,0.0,0,0.0,7920.0,10000004,Found,Found
...,...,...,...,...,...,...,...,...,...,...
60276,910,PP10000268,4000,0.0,0,0.0,7980.0,0,0,0
60277,910,PP10000269,4000,0.0,0,0.0,7980.0,0,0,0
60278,910,PP10000270,4000,0.0,0,0.0,7980.0,0,0,0
60279,910,PP10000271,4000,0.0,0,0.0,7980.0,0,0,0
60280,910,PP10000272,4000,0.0,0,0.0,7980.0,0,0,0

In [67]:
df2.dtypes

MANDT         int64
MATNR        object
BWKEY         int64
BWTAR       float64
LVORM        object
VERPR       float64
BKLAS       float64
Material     object
Comments     object
Match        object
dtype: object

In [221]:
df2.iloc[34000]

MANDT            910
MATNR       30034183
BWKEY           3000
BWTAR              0
LVORM              0
VERPR        2268.38
BKLAS           3040
Material           0
Comments       Found
Match              0
temp             nan
Name: 34000, dtype: object

In [100]:
#df['MATNR']

0          10000000
1          10000001
2          10000002
3          10000003
4          10000004
            ...
60276    PP10000268
60277    PP10000269
60278    PP10000270
60279    PP10000271
60280    PP10000272
Name: MATNR, Length: 60281, dtype: object

In [101]:
#df['Material']

0        10000000
1        10000001
2        10000002
3        10000003
4        10000004
           ...
60276         NaN
60277         NaN
60278         NaN
60279         NaN
60280         NaN
Name: Material, Length: 60281, dtype: object

In [69]:
#matnr=df2['MATNR']
#material=df2['Material']

In [70]:
#matnr[1]==material[1]

False

In [90]:
#type(matnr[1])

str

In [91]:
#type(material[1])

str

In [76]:
#matnr=matnr.astype(str)

In [83]:
#matnr[1]==material[1]

True

In [92]:
#for i in matnr:
  #  for j in material:
    #    if matnr[i]==material[j]:
      #      print("matnr-{0}-material-{1}").format(i,j)

KeyError: '10000000'

In [89]:
#df2[matnr==material]

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match
0,910,10000000,2000,0.0,0,247.00,7920.0,10000000,Found,Found
1,910,10000001,2000,0.0,0,0.00,7920.0,10000001,Found,Found
2,910,10000002,2000,0.0,0,0.00,7920.0,10000002,Found,Found
3,910,10000003,2000,0.0,0,0.00,7920.0,10000003,Found,Found
4,910,10000004,2000,0.0,0,0.00,7920.0,10000004,Found,Found
...,...,...,...,...,...,...,...,...,...,...
83,910,10000083,2000,0.0,0,0.00,7940.0,10000083,Found,Found
84,910,10000084,2000,0.0,0,0.00,7940.0,10000084,Found,Found
85,910,10000085,2000,0.0,0,0.00,7940.0,10000085,Found,Found
86,910,10000086,2000,0.0,0,3160.15,7920.0,10000086,Found,Found
25190,910,30025218,3000,0.0,0,12.13,3040.0,30025218,Found,Found

In [222]:
df2['index'] = df2.index

In [84]:
#matnr[1]==material[1]

True

In [245]:
matnr_tuples = {(matnr, index) for matnr, index in zip(df2['MATNR'], df2['index'])}

In [252]:
matnr_tuples

{('30008551', 8722),
 ('30012061', 12220),
 ('30035749', 35603),
 ('30012383', 12523),
 ('70000449', 38466),
 ('30030604', 30578),
 ('30023002', 22970),
 ('30001183', 1404),
 ('30020364', 20371),
 ('30016411', 16449),
 ('30023018', 22986),
 ('30025861', 25833),
 ('30032438', 32299),
 ('70004703', 46821),
 ('30029671', 29648),
 ('30029350', 29326),
 ('30034276', 34096),
 ('30021716', 21679),
 ('70006970', 51178),
 ('30018285', 18327),
 ('70009694', 56011),
 ('30033293', 33146),
 ('30019749', 19785),
 ('30002600', 2808),
 ('30000938', 1164),
 ('30030864', 30837),
 ('30026216', 26188),
 ('30008274', 8453),
 ('30025063', 25035),
 ('70008655', 54211),
 ('70011081', 58658),
 ('30024761', 24733),
 ('70001746', 40689),
 ('30027679', 27652),
 ('70008144', 53216),
 ('30022062', 22026),
 ('30031251', 31223),
 ('30015006', 15097),
 ('30014253', 14361),
 ('70002047', 41716),
 ('30034640', 34453),
 ('30035794', 35664),
 ('70005477', 48376),
 ('70005116', 47722),
 ('30009304', 9476),
 ('30013032', 13162),
 ('30000246', 477),
 ('70004283', 45978),
 ('70004613', 46648),
 ('30001968', 2179),
 ('30010045', 10216),
 ('30022921', 22889),
 ('30032540', 32401),
 ('70001069', 39261),
 ('30027088', 27061),
 ('70002191', 42167),
 ('30004934', 5141),
 ('30017791', 17829),
 ('70011269', 58986),
 ('30019305', 19347),
 ('70003676', 44662),
 ('70011385', 59123),
 ('30021204', 21177),
 ('30033428', 33278),
 ('30033308', 33161),
 ('30021840', 21804),
 ('70009487', 55649),
 ('30018261', 18303),
 ('30037191', 37063),
 ('70001053', 39220),
 ('30010494', 10663),
 ('70006989', 51217),
 ('70008382', 53684),
 ('30001475', 1693),
 ('30030714', 30687),
 ('30008431', 8602),
 ('30021899', 21863),
 ('30009960', 10131),
 ('40000065', 37534),
 ('70005762', 48867),
 ('70007700', 52468),
 ('30002334', 2545),
 ('30025127', 25099),
 ('30006141', 6343),
 ('70002042', 41701),
 ('30003203', 3410),
 ('30008769', 8940),
 ('70010970', 58429),
 ('30030500', 30474),
 ('30020131', 20137),
 ('30006789', 6981),
 ('70005240', 47959),
 ('30018464', 18506),
 ('30009185', 9357),
 ('30008561', 8732),
 ('30001094', 1320),
 ('30009120', 9291),
 ('30023138', 23106),
 ('30027663', 27636),
 ('30019757', 19792),
 ('30028776', 28752),
 ('30011557', 11725),
 ('30022511', 22478),
 ('70005995', 49327),
 ('30006129', 6331),
 ('30030670', 30643),
 ('30028477', 28450),
 ('70003399', 44233),
 ('70000465', 38501),
 ('70001809', 40943),
 ('30023117', 23085),
 ('30034489', 34304),
 ('30029421', 29397),
 ('70000277', 38173),
 ('70010067', 56715),
 ('30029856', 29833),
 ('70000821', 38919),
 ('70001814', 40960),
 ('70008113', 53153),
 ('30011303', 11471),
 ('30029994', 29971),
 ('30019108', 19150),
 ('30026101', 26073),
 ('30005578', 5782),
 ('30000487', 715),
 ('30025492', 25464),
 ('30031694', 31649),
 ('30020089', 20104),
 ('70006380', 50036),
 ('30001844', 2055),
 ('70007662', 52392),
 ('30013724', 13843),
 ('30034496', 34311),
 ('70004219', 45791),
 ('70001039', 39192),
 ('70000243', 38106),
 ('30008134', 8313),
 ('30018396', 18438),
 ('30024455', 24426),
 ('30015714', 15786),
 ('30017175', 17213),
 ('30020145', 20151),
 ('30018424', 18466),
 ('70002288', 42449),
 ('70004236', 45841),
 ('70002003', 41583),
 ('70003392', 44216),
 ('70008083', 53094),
 ('70001402', 39949),
 ('30005165', 5371),
 ('30002037', 2249),
 ('30020292', 20298),
 ('30011457', 11625),
 ('30020532', 20536),
 ('30001195', 1416),
 ('30023315', 23284),
 ('30003243', 3450),
 ('70006409', 50092),
 ('70009019', 54901),
 ('70004817', 47081),
 ('70012017', 59932),
 ('30020136', 20142),
 ('70002517', 42841),
 ('30019369', 19411),
 ('30010528', 10696),
 ('30018541', 18583),
 ('30014182', 14290),
 ('30013266', 13392),
 ('30015756', 15826),
 ('30028371', 28344),
 ('70009773', 56163),
 ('30030321', 30298),
 ('70007886', 52734),
 ('70006750', 50738),
 ('30013780', 13899),
 ('70000420', 38402),
 ('70000787', 38885),
 ('30008461', 8632),
 ('70012296', 60211),
 ('30029892', 29869),
 ('30000395', 626),
 ('30006286', 6486),
 ('30029390', 29366),
 ('70008858', 54615),
 ('70006704', 50647),
 ('30018639', 18681),
 ('30028711', 28687),
 ('30031505', 31478),
 ('70000043', 37707),
 ('70003470', 44340),
 ('70010692', 57883),
 ('70006880', 50999),
 ('70011490', 59228),
 ('30024857', 24829),
 ('30031591', 31546),
 ('30016714', 16752),
 ('30012113', 12272),
 ('70004623', 46666),
 ('30008888', 9059),
 ('30024226', 24196),
 ('30015080', 15171),
 ('30037310', 37174),
 ('30032011', 31949),
 ('70000242', 38102),
 ('30033885', 33700),
 ('70011896', 59803),
 ('30026111', 26083),
 ('30026438', 26410),
 ('70007632', 52332),
 ('30020401', 20405),
 ('30015762', 15832),
 ('70000780', 38878),
 ('30014309', 14417),
 ('70011486', 59220),
 ('30011209', 11376),
 ('70002273', 42404),
 ('70000634', 38731),
 ('30026113', 26085),
 ('30019149', 19191),
 ('70002241', 42315),
 ('30014409', 14516),
 ('30022860', 22828),
 ('70001829', 41020),
 ('70002967', 43434),
 ('30034138', 33946),
 ('70005891', 49120),
 ('70002194', 42179),
 ('70001255', 39662),
 ('30010846', 11014),
 ('30005871', 6075),
 ('30003853', 4060),
 ('70004270', 45940),
 ('30010903', 11071),
 ('70004214', 45776),
 ('30005904', 6106),
 ('30013622', 13744),
 ('30034645', 34458),
 ('30027907', 27880),
 ('30008081', 8260),
 ('70002174', 42098),
 ('30037104', 36988),
 ('70005662', 48691),
 ('30000312', 543),
 ('30019263', 19305),
 ('30007192', 7378),
 ('30024035', 24005),
 ('30036031', 35931),
 ('30008579', 8750),
 ('30013471', 13592),
 ('70000964', 39062),
 ('70005606', 48583),
 ('70002513', 42837),
 ('70009958', 56496),
 ('30006563', 6761),
 ('30010356', 10527),
 ('30014587', 14690),
 ('70004701', 46817),
 ('70008787', 54474),
 ('30018132', 18170),
 ('30018866', 18908),
 ('30019454', 19496),
 ('30008917', 9088),
 ('30032552', 32413),
 ('30002700', 2908),
 ('70010103', 56782),
 ('30026594', 26566),
 ('70006904', 51047),
 ('30019468', 19510),
 ('70008961', 54788),
 ('30000333', 564),
 ('30015073', 15164),
 ('70009961', 56502),
 ('70003050', 43585),
 ('30009158', 9329),
 ('30022467', 22432),
 ('30017282', 17320),
 ('30023989', 23959),
 ('30012093', 12252),
 ('70000811', 38909),
 ('30012535', 12674),
 ('30028373', 28346),
 ('70002283', 42435),
 ('30028046', 28019),
 ('70007678', 52425),
 ('70010428', 57366),
 ('70011297', 59027),
 ('70002210', 42236),
 ('70005160', 47795),
 ('70006807', 50853),
 ('70008203', 53333),
 ('30009998', 10169),
 ('70006168', 49655),
 ('30023036', 23004),
 ('30032475', 32336),
 ('70005154', 47783),
 ('30014495', 14602),
 ('70004634', 46688),
 ('30018408', 18450),
 ('30005362', 5568),
 ('30021938', 21902),
 ('30032539', 32400),
 ('70005122', 47731),
 ('30022723', 22691),
 ('70006052', 49442),
 ('70006090', 49508),
 ('30007023', 7212),
 ('70005555', 48496),
 ('30004686', 4894),
 ('30006356', 6556),
 ('30035561', 35363),
 ('30033409', 33259),
 ('70007663', 52395),
 ('30035665', 35476),
 ('70004185', 45690),
 ('70001287', 39724),
 ('30013432', 13554),
 ('30030745', 30718),
 ('70002054', 41737),
 ('70002812', 43222),
 ('30012466', 12606),
 ('70010853', 58178),
 ('70002008', 41597),
 ('70002245', 42325),
 ('70003822', 44934),
 ('30002460', 2668),
 ('70002421', 42710),
 ('30017453', 17491),
 ('30033523', 33370),
 ('70010164', 56903),
 ('70005982', 49301),
 ('30027885', 27858),
 ('30020441', 20445),
 ('70008397', 53721),
 ('70002007', 41596),
 ('70008540', 53981),
 ('30003935', 4142),
 ('30015845', 15900),
 ('30015381', 15463),
 ('30034465', 34280),
 ('70004907', 47288),
 ('30020165', 20171),
 ('30020720', 20725),
 ('30015873', 15928),
 ('30020061', 20077),
 ('70001780', 40826),
 ('70001936', 41397),
 ('70004629', 46679),
 ('70011596', 59374),
 ('70009065', 54985),
 ('70001510', 40147),
 ('70008620', 54140),
 ('70008290', 53507),
 ('30009001', 9172),
 ('30018211', 18249),
 ('70001077', 39278),
 ('30032340', 32200),
 ('70007431', 52068),
 ('70009845', 56279),
 ('30011196', 11363),
 ('30024670', 24642),
 ('70000080', 37758),
 ('70010904', 58275),
 ('30031045', 31017),
 ('70003972', 45221),
 ('30015035', 15126),
 ('70004683', 46781),
 ('30019416', 19458),
 ('70002290', 42455),
 ('30014898', 14985),
 ('30008818', 8989),
 ('30019205', 19247),
 ('30013401', 13525),
 ('70008210', 53347),
 ('30007272', 7458),
 ('70009380', 55488),
 ('30010461', 10628),
 ('30002005', 2217),
 ('70010235', 57040),
 ('30015601', 15676),
 ('30008925', 9096),
 ('30015257', 15340),
 ('70001703', 40520),
 ('70006169', 49658),
 ('70005643', 48655),
 ('30036141', 36034),
 ('70009713', 56047),
 ('70007394', 52002),
 ('70011108', 58711),
 ('30036689', 36573),
 ('70010430', 57369),
 ('70011242', 58943),
 ('30013742', 13861),
 ('30015292', 15375),
 ('30004153', 4360),
 ('70004528', 46535),
 ('30026361', 26333),
 ('30021742', 21706),
 ('70002464', 42779),
 ('30009827', 9998),
 ('30026304', 26276),
 ('30019672', 19714),
 ('30031988', 31926),
 ('70000327', 38269),
 ('30009355', 9528),
 ('70005246', 47975),
 ('30021552', 21523),
 ('30037033', 36923),
 ('30021711', 21674),
 ('30006708', 6901),
 ('70009185', 55187),
 ('70010684', 57866),
 ('70007184', 51606),
 ('30036459', 36310),
 ('30037330', 37192),
 ('70002237', 42303),
 ('30015435', 15517),
 ('30030024', 30001),
 ('30008801', 8972),
 ('30027753', 27726),
 ('30036688', 36571),
 ('70002113', 41906),
 ('30023188', 23156),
 ('70004268', 45934),
 ('70001313', 39775),
 ('30032737', 32596),
 ('30013093', 13222),
 ('70003353', 44102),
 ('70009558', 55779),
 ('30015611', 15686),
 ('70011186', 58861),
 ('70000286', 38189),
 ('70004847', 47170),
 ('70009038', 54936),
 ('30036152', 36056),
 ('30001072', 1298),
 ('70010665', 57829),
 ('30037106', 36990),
 ('30031639', 31594),
 ('30036452', 36303),
 ('30026292', 26264),
 ('30000802', 1031),
 ('30000702', 930),
 ('30026120', 26092),
 ('30037114', 36998),
 ('30025310', 25282),
 ('70007772', 52546),
 ('70004037', 45346),
 ('30007119', 7307),
 ('70000258', 38135),
 ('70006379', 50033),
 ('30005459', 5663),
 ('30014481', 14588),
 ('30036402', 36253),
 ('70001066', 39252),
 ('70002507', 42831),
 ('70006263', 49833),
 ('70001541', 40226),
 ('30011105', 11273),
 ('70007825', 52617),
 ('70010098', 56773),
 ('30027676', 27649),
 ('70007127', 51492),
 ('30001737', 1948),
 ('30026467', 26439),
 ('30002233', 2444),
 ('30011190', 11357),
 ('70000003', 37619),
 ('70004718', 46851),
 ('30014069', 14179),
 ('30015348', 15430),
 ('30024182', 24152),
 ('30029642', 29619),
 ('70010543', 57583),
 ('30005032', 5238),
 ('30033673', 33498),
 ('70001762', 40755),
 ('30012832', 12965),
 ('30037634', 37461),
 ('30024558', 24529),
 ('70003344', 44084),
 ('30030033', 30010),
 ('30012516', 12656),
 ('70009200', 55217),
 ('70008295', 53517),
 ('30018802', 18844),
 ('30025979', 25951),
 ('70002409', 42687),
 ('30012750', 12888),
 ('30014931', 15023),
 ('70002219', 42256),
 ('30016497', 16535),
 ('30006920', 7109),
 ('30005809', 6013),
 ('30027119', 27092),
 ('70004407', 46311),
 ('30002991', 3199),
 ('30003794', 4001),
 ('70009889', 56368),
 ('70010106', 56788),
 ('30026386', 26358),
 ('70004308', 46038),
 ('30005843', 6047),
 ('70000384', 38354),
 ('30006048', 6250),
 ('30013707', 13827),
 ('30015234', 15317),
 ('70001903', 41300),
 ('30003838', 4045),
 ('70004005', 45277),
 ('30014997', 15088),
 ('30022385', 22350),
 ('30031373', 31344),
 ('30017489', 17527),
 ('30017420', 17458),
 ('30033317', 33170),
 ('30036513', 36383),
 ('30028820', 28796),
 ('30019662', 19704),
 ('30003104', 3311),
 ('70012253', 60165),
 ('30008725', 8896),
 ('30035744', 35593),
 ('30007078', 7266),
 ('30005090', 5296),
 ('30021655', 21617),
 ('30000787', 1016),
 ('30004981', 5188),
 ('30022304', 22269),
 ('70007187', 51612),
 ('30021575', 21544),
 ('70008250', 53428),
 ('70009768', 56153),
 ('70011688', 59556),
 ('30004711', 4919),
 ('70001920', 41351),
 ('70001816', 40966),
 ('70001285', 39719),
 ('70004670', 46758),
 ('30003430', 3637),
 ('30025022', 24994),
 ('70010134', 56842),
 ('70001728', 40618),
 ('30036409', 36260),
 ('30027869', 27842),
 ('30034513', 34328),
 ('30029553', 29529),
 ('30031307', 31279),
 ('30013370', 13495),
 ('30029363', 29339),
 ('70006233', 49778),
 ('30024946', 24918),
 ('30019432', 19474),
 ('30025592', 25564),
 ('30027427', 27400),
 ('30030262', 30239),
 ('30027730', 27703),
 ('30013785', 13904),
 ('30010262', 10434),
 ('30000956', 1182),
 ('30022114', 22079),
 ('70010175', 56926),
 ('70001791', 40868),
 ('30025567', 25539),
 ('30037220', 37091),
 ('30005892', 6094),
 ('30036121', 36010),
 ('70008146', 53219),
 ('30014667', 14763),
 ('30026574', 26546),
 ('30035597', 35404),
 ('30022263', 22228),
 ('30015855', 15910),
 ('70002846', 43260),
 ('70003132', 43726),
 ('70007160', 51559),
 ('70010995', 58489),
 ('30033592', 33429),
 ('30021803', 21767),
 ('70008850', 54599),
 ('30012307', 12449),
 ('30013071', 13200),
 ('30016070', 16108),
 ('30021128', 21101),
 ('30017599', 17637),
 ('30013963', 14070),
 ('70003827', 44944),
 ('30002222', 2433),
 ('30020795', 20791),
 ('30021962', 21926),
 ('70000668', 38766),
 ('70003138', 43739),
 ('70006056', 49452),
 ('70002052', 41731),
 ('70001588', 40303),
 ('30014636', 14735),
 ('70001913', 41330),
 ('30004389', 4596),
 ('30017919', 17957),
 ('30025027', 24999),
 ('70004284', 45980),
 ('30003776', 3983),
 ('30028062', 28035),
 ('30037013', 36902),
 ('30000186', 417),
 ('70001959', 41453),
 ('30015352', 15434),
 ('70008456', 53826),
 ('70002136', 41972),
 ('30009987', 10158),
 ('70001354', 39861),
 ('70010624', 57747),
 ('30035847', 35713),
 ('70007226', 51691),
 ('30026330', 26302),
 ('30005987', 6189),
 ('30027620', 27593),
 ('30034823', 34632),
 ('60000065', 37618),
 ('30011586', 11754),
 ('30016274', 16312),
 ('30026262', 26234),
 ('70002688', 43058),
 ('30023638', 23608),
 ('30032825', 32678),
 ('70000459', 38488),
 ('70012142', 60053),
 ('70000376', 38346),
 ('70002701', 43066),
 ('70003381', 44182),
 ('30013651', 13773),
 ('30032909', 32762),
 ('70005347', 48156),
 ('30026017', 25989),
 ('70005045', 47549),
 ('30031785', 31734),
 ('70000739', 38837),
 ('70004227', 45817),
 ('70009285', 55345),
 ('30026484', 26456),
 ('70008769', 54438),
 ('30009631', 9810),
 ('10000005', 5),
 ('30027922', 27895),
 ('70008688', 54277),
 ('30024752', 24724),
 ('30029051', 29027),
 ('30026978', 26951),
 ('30010325', 10496),
 ('30022690', 22658),
 ('30012905', 13038),
 ('30025309', 25281),
 ('30002910', 3118),
 ('30027503', 27476),
 ('30024841', 24813),
 ('30003906', 4113),
 ('30021627', 21589),
 ('70001975', 41501),
 ('70000320', 38252),
 ('70008811', 54522),
 ('30007102', 7290),
 ('30031326', 31298),
 ('30005241', 5447),
 ('30016096', 16134),
 ('30037156', 37035),
 ('30011076', 11244),
 ('70008125', 53177),
 ('70012310', 60225),
 ('30015343', 15425),
 ('30006347', 6547),
 ('30001394', 1615),
 ('70008157', 53241),
 ('70011908', 59815),
 ('30032314', 32174),
 ('30014085', 14193),
 ('30011400', 11568),
 ('30017882', 17920),
 ('70000732', 38830),
 ('70005170', 47817),
 ('30030759', 30732),
 ('30006127', 6329),
 ('30015409', 15491),
 ('30027557', 27530),
 ('70007453', 52100),
 ('30010753', 10921),
 ('30017909', 17947),
 ('70007674', 52417),
 ('70000326', 38266),
 ('30008030', 8209),
 ('70002808', 43218),
 ('70010413', 57344),
 ('70004209', 45762),
 ('70008960', 54787),
 ('30014018', 14129),
 ('30013887', 14000),
 ('30023065', 23033),
 ('70003175', 43813),
 ('70012056', 59972),
 ('70005821', 48981),
 ('30017398', 17436),
 ('70004506', 46494),
 ('70004127', 45519),
 ('30035756', 35617),
 ('30013242', 13368),
 ('30035790', 35658),
 ('30019799', 19830),
 ('70004544', 46562),
 ('70010129', 56833),
 ('70007523', 52219),
 ('30016099', 16137),
 ('30009995', 10166),
 ('70011196', 58870),
 ('70007338', 51910),
 ('30018435', 18477),
 ('30022535', 22502),
 ('30029473', 29449),
 ('70002775', 43160),
 ('30035095', 34902),
 ('70000377', 38347),
 ('30036122', 36012),
 ('30016127', 16165),
 ('30008349', 8527),
 ('30012897', 13030),
 ('70007277', 51793),
 ('70008862', 54624),
 ('70011056', 58607),
 ('70000416', 38394),
 ('30023202', 23170),
 ('30024136', 24106),
 ('70001057', 39229),
 ('30026421', 26393),
 ('30024740', 24712),
 ('30004961', 5168),
 ('70010505', 57508),
 ('30012827', 12960),
 ('30029098', 29074),
 ('70002304', 42497),
 ('30030194', 30171),
 ('30032506', 32367),
 ('70005008', 47448),
 ('30019591', 19633),
 ('70005878', 49093),
 ('30005332', 5538),
 ('30026208', 26180),
 ('30011189', 11356),
 ('30030672', 30645),
 ('70001788', 40859),
 ('30037334', 37196),
 ('30029235', 29211),
 ('30031835', 31783),
 ('30030860', 30833),
 ('30032402', 32263),
 ('30026516', 26488),
 ('70007544', 52240),
 ('30030405', 30382),
 ('30018931', 18973),
 ('70006161', 49642),
 ('70009842', 56274),
 ('70006724', 50687),
 ('70011600', 59381),
 ('70000255', 38130),
 ('70009188', 55193),
 ('30025399', 25371),
 ('30016561', 16599),
 ('30029447', 29423),
 ('30005414', 5618),
 ('30031176', 31148),
 ('30004972', 5179),
 ('30036110', 35993),
 ('30003054', 3262),
 ('30031734', 31687),
 ('30010544', 10712),
 ('30007108', 7296),
 ('30032439', 32300),
 ('70011172', 58832),
 ('30030331', 30308),
 ('30004040', 4247),
 ('30011293', 11461),
 ('30011197', 11364),
 ('30020082', 20097),
 ('70002641', 42990),
 ('70006354', 49992),
 ('70008752', 54404),
 ('30002156', 2367),
 ('70006785', 50808),
 ('30028473', 28446),
 ('70003649', 44607),
 ('30001455', 1676),
 ('30013386', 13511),
 ('70010126', 56827),
 ('30024910', 24882),
 ('70010605', 57708),
 ('70005069', 47616),
 ('30005089', 5295),
 ('30020072', 20087),
 ('70003022', 43532),
 ('30035407', 35225),
 ('30025530', 25502),
 ('30036615', 36495),
 ('70011530', 59268),
 ('30006505', 6703),
 ('70005157', 47788),
 ('70008398', 53723),
 ('30013384', 13509),
 ('30016882', 16920),
 ('70002498', 42818),
 ('30002053', 2265),
 ('30028327', 28300),
 ('70002407', 42683),
 ('70010789', 58059),
 ('30037193', 37065),
 ('30016281', 16319),
 ('70002145', 41999),
 ('70010406', 57333),
 ('30023227', 23195),
 ('70008380', 53677),
 ('30030527', 30501),
 ('70004238', 45846),
 ('30011254', 11421),
 ('30000411', 642),
 ('30001482', 1700),
 ('30011971', 12132),
 ('30008022', 8201),
 ('30033766', 33582),
 ('30010790', 10958),
 ('30010613', 10781),
 ('30017500', 17538),
 ('70004017', 45292),
 ('70008573', 54047),
 ('30019980', 20006),
 ('70010500', 57497),
 ('70000486', 38556),
 ('30026329', 26301),
 ('30027459', 27432),
 ('30017805', 17843),
 ('30014517', 14622),
 ('30013245', 13371),
 ('70005899', 49135),
 ('30006513', 6711),
 ('70007269', 51777),
 ('70006341', 49962),
 ('70007836', 52634),
 ('40000131', 37561),
 ('30002614', 2822),
 ('30006784', 6977),
 ('30033982', 33797),
 ('70001870', 41182),
 ('70010706', 57911),
 ('70011640', 59461),
 ('30027965', 27938),
 ('30000026', 277),
 ('70001431', 40013),
 ('70007407', 52027),
 ('30025722', 25694),
 ('30018889', 18931),
 ('30026320', 26292),
 ('70002323', 42550),
 ('30008385', 8556),
 ('70008738', 54377),
 ('30014513', 14618),
 ('30013256', 13382),
 ('30029782', 29759),
 ('30019270', 19312),
 ('30028893', 28869),
 ('30023699', 23669),
 ('30025724', 25696),
 ('30017964', 18002),
 ('30000630', 858),
 ('70004663', 46746),
 ('30010603', 10771),
 ('30011964', 12125),
 ('30024302', 24272),
 ('30030770', 30743),
 ('30009408', 9581),
 ('30016409', 16447),
 ('30035927', 35812),
 ('70002989', 43456),
 ('30021392', 21365),
 ('70010278', 57125),
 ('30022015', 21979),
 ('70009275', 55335),
 ('30007548', 7734),
 ('30032041', 31979),
 ('70007017', 51272),
 ('30000616', 844),
 ('70001860', 41144),
 ('30023386', 23355),
 ('30010239', 10411),
 ('30012674', 12812),
 ('70005015', 47469),
 ('30018495', 18537),
 ('30020339', 20347),
 ('30013786', 13905),
 ('70004885', 47237),
 ('70001339', 39828),
 ('30004680', 4888),
 ('70008818', 54536),
 ('30013619', 13742),
 ('70003169', 43801),
 ('30022729', 22697),
 ('70001841', 41069),
 ('30007186', 7372),
 ('70005836', 49010),
 ('30003372', 3579),
 ('30017064', 17102),
 ('30016570', 16608),
 ('30030068', 30045),
 ('70004122', 45514),
 ('30033099', 32952),
 ('30022185', 22150),
 ('70010477', 57454),
 ('70001775', 40804),
 ('30001825', 2036),
 ('30034538', 34358),
 ('70007623', 52315),
 ('30016059', 16097),

In [95]:
#matnr_names = {record for record in matnr}

In [99]:
#len(matnr_names)

48835

In [269]:
material_names={record for record in material}

In [270]:
len(material_names)

26978

In [228]:
df2['matched'] = df2['MATNR'].apply(lambda x: x if x in material_names else 0)

In [266]:
df2['matched']

0        10000000
1        10000001
2        10000002
3        10000003
4        10000004
           ...
60276           0
60277           0
60278           0
60279           0
60280           0
Name: matched, Length: 60281, dtype: object

In [229]:
df2.head()

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match,temp,index,matched
0,910,10000000,2000,0.0,0,247.0,7920.0,10000000,Found,Found,10000000,0,10000000
1,910,10000001,2000,0.0,0,0.0,7920.0,10000001,Found,Found,10000001,1,10000001
2,910,10000002,2000,0.0,0,0.0,7920.0,10000002,Found,Found,10000002,2,10000002
3,910,10000003,2000,0.0,0,0.0,7920.0,10000003,Found,Found,10000003,3,10000003
4,910,10000004,2000,0.0,0,0.0,7920.0,10000004,Found,Found,10000004,4,10000004

In [259]:
idx = df2.loc[df2['MATNR'].isin(material_names), 'index'].values

In [271]:
idx

array([    0,     1,     2, ..., 60240, 60241, 60244])

In [261]:
len(idx)

33196

In [267]:
new_df = df2.loc[idx, ['index', 'MATNR', 'Material', 'BKLAS', 'VERPR']]
new_df.head()

   index     MATNR  Material   BKLAS  VERPR
0      0  10000000  10000000  7920.0  247.0
1      1  10000001  10000001  7920.0    0.0
2      2  10000002  10000002  7920.0    0.0
3      3  10000003  10000003  7920.0    0.0
4      4  10000004  10000004  7920.0    0.0

In [268]:
new_df

       index     MATNR  Material   BKLAS   VERPR
0          0  10000000  10000000  7920.0  247.00
1          1  10000001  10000001  7920.0    0.00
2          2  10000002  10000002  7920.0    0.00
3          3  10000003  10000003  7920.0    0.00
4          4  10000004  10000004  7920.0    0.00
...      ...       ...       ...     ...     ...
60238  60238  70012340         0  3600.0    0.01
60239  60239  70012341         0  3600.0    0.01
60240  60240  70012342         0     0.0    0.01
60241  60241  70012342         0  3600.0    0.01
60244  60244  70012350         0  3600.0    0.01

[33196 rows x 5 columns]

In [272]:
matches=list()
for item in matnr:
    if item in material_names:
          matches.append(item)

In [253]:
#matches=list()
#store=[]
#for item, idx in matnr_tuples:
 #   if item in material_names:
 #         store.append(idx)

In [255]:
#df2.loc[store]

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match,temp,index,matched
8722,910,30008551,2000,0.0,0,4323.69,3040.0,30012007,Found,Found,30016210,8722,30008551
12220,910,30012061,2000,0.0,0,25847.50,3040.0,30005867,Found,0,30022302,12220,30012061
35603,910,30035749,2000,0.0,0,969.97,3040.0,0,Found,0,nan,35603,30035749
12523,910,30012383,2000,0.0,0,48.70,3040.0,30007604,Found,0,30022803,12523,30012383
38466,910,70000449,2000,0.0,0,292.00,3600.0,0,Found,0,nan,38466,70000449
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22651,910,30022683,3000,0.0,0,14692.74,3040.0,30002873,Found,0,70002154,22651,30022683
20507,910,30020503,3000,0.0,0,1.20,3040.0,30025955,Found,Found,40000022,20507,30020503
16252,910,30016214,2000,0.0,0,0.00,3040.0,30029971,Found,Found,30029983,16252,30016214
10107,910,30009936,2000,0.0,0,178.59,3040.0,70001947,Found,Found,30018517,10107,30009936
46999,910,70004789,1000,0.0,0,0.01,3600.0,0,Found,0,nan,46999,70004789

In [273]:
matches

['10000000',
 '10000001',
 '10000002',
 '10000003',
 '10000004',
 '10000005',
 '10000006',
 '10000007',
 '10000008',
 '10000009',
 '10000010',
 '10000011',
 '10000012',
 '10000013',
 '10000014',
 '10000015',
 '10000016',
 '10000017',
 '10000018',
 '10000019',
 '10000020',
 '10000021',
 '10000022',
 '10000023',
 '10000024',
 '10000025',
 '10000026',
 '10000027',
 '10000028',
 '10000029',
 '10000030',
 '10000031',
 '10000032',
 '10000033',
 '10000034',
 '10000035',
 '10000036',
 '10000037',
 '10000038',
 '10000039',
 '10000040',
 '10000041',
 '10000042',
 '10000043',
 '10000044',
 '10000045',
 '10000046',
 '10000047',
 '10000048',
 '10000049',
 '10000050',
 '10000051',
 '10000052',
 '10000053',
 '10000054',
 '10000055',
 '10000056',
 '10000057',
 '10000058',
 '10000059',
 '10000060',
 '10000061',
 '10000062',
 '10000063',
 '10000064',
 '10000065',
 '10000066',
 '10000067',
 '10000068',
 '10000069',
 '10000070',
 '10000071',
 '10000072',
 '10000073',
 '10000074',
 '10000075',
 '10000076',
 '10000077',
 '10000078',
 '10000079',
 '10000080',
 '10000081',
 '10000082',
 '10000083',
 '10000084',
 '10000085',
 '10000086',
 '10000086',
 '10000087',
 '10000087',
 '10000088',
 '10000089',
 '10000089',
 '10000090',
 '10000091',
 '10000092',
 '10000124',
 '10000125',
 '10000127',
 '10000130',
 '10000152',
 '10000153',
 '10000157',
 '10000160',
 '10000170',
 '10000171',
 '10000180',
 '10000182',
 '10000183',
 '10000184',
 '10000190',
 '10000191',
 '10000210',
 '10000221',
 '10000222',
 '10000223',
 '10000224',
 '10000225',
 '10000226',
 '10000230',
 '10000231',
 '10000231',
 '10000232',
 '10000233',
 '10000234',
 '10000235',
 '10000236',
 '10000237',
 '10000238',
 '10000239',
 '10000250',
 '10000251',
 '10000252',
 '10000260',
 '10000260',
 '10000260',
 '10000261',
 '10000261',
 '10000262',
 '10000262',
 '10000263',
 '10000263',
 '10000265',
 '10000265',
 '10000266',
 '10000266',
 '10000267',
 '10000267',
 '10000268',
 '10000268',
 '10000269',
 '10000269',
 '10000270',
 '10000270',
 '10000271',
 '10000271',
 '10000272',
 '10000272',
 '10000280',
 '10000281',
 '10000283',
 '10000284',
 '10000285',
 '10000286',
 '10000300',
 '10000302',
 '10000303',
 '10000315',
 '10000315',
 '10000319',
 '10000330',
 '10000330',
 '10000331',
 '10000331',
 '20000001',
 '20000002',
 '20000003',
 '20000004',
 '20000005',
 '20000006',
 '20000007',
 '20000008',
 '20000009',
 '20000010',
 '20000011',
 '20000012',
 '20000013',
 '20000014',
 '20000015',
 '20000016',
 '20000017',
 '20000018',
 '20000019',
 '20000020',
 '20000021',
 '20000022',
 '20000023',
 '20000024',
 '20000025',
 '20000026',
 '20000027',
 '20000028',
 '20000029',
 '20000030',
 '20000031',
 '20000042',
 '20000060',
 '20000061',
 '20000082',
 '20000083',
 '20000091',
 '20000104',
 '20000105',
 '20000108',
 '20000112',
 '20000113',
 '20000114',
 '20000124',
 '20000130',
 '20000131',
 '20000140',
 '20000160',
 '30000010',
 '30000011',
 '30000012',
 '30000013',
 '30000014',
 '30000015',
 '30000016',
 '30000017',
 '30000018',
 '30000019',
 '30000020',
 '30000021',
 '30000022',
 '30000023',
 '30000025',
 '30000026',
 '30000029',
 '30000052',
 '30000061',
 '30000068',
 '30000069',
 '30000070',
 '30000075',
 '30000076',
 '30000081',
 '30000083',
 '30000090',
 '30000093',
 '30000098',
 '30000100',
 '30000118',
 '30000133',
 '30000134',
 '30000135',
 '30000137',
 '30000138',
 '30000139',
 '30000140',
 '30000141',
 '30000142',
 '30000143',
 '30000144',
 '30000145',
 '30000146',
 '30000147',
 '30000148',
 '30000149',
 '30000150',
 '30000151',
 '30000152',
 '30000153',
 '30000154',
 '30000155',
 '30000156',
 '30000157',
 '30000158',
 '30000159',
 '30000160',
 '30000161',
 '30000162',
 '30000163',
 '30000164',
 '30000165',
 '30000166',
 '30000167',
 '30000168',
 '30000169',
 '30000170',
 '30000171',
 '30000172',
 '30000173',
 '30000174',
 '30000175',
 '30000176',
 '30000177',
 '30000178',
 '30000179',
 '30000180',
 '30000181',
 '30000182',
 '30000183',
 '30000184',
 '30000185',
 '30000186',
 '30000187',
 '30000188',
 '30000189',
 '30000190',
 '30000191',
 '30000192',
 '30000193',
 '30000194',
 '30000195',
 '30000196',
 '30000197',
 '30000198',
 '30000199',
 '30000200',
 '30000201',
 '30000202',
 '30000203',
 '30000204',
 '30000205',
 '30000206',
 '30000207',
 '30000208',
 '30000209',
 '30000210',
 '30000211',
 '30000212',
 '30000213',
 '30000214',
 '30000215',
 '30000216',
 '30000217',
 '30000218',
 '30000219',
 '30000220',
 '30000221',
 '30000222',
 '30000223',
 '30000224',
 '30000225',
 '30000226',
 '30000227',
 '30000228',
 '30000229',
 '30000230',
 '30000231',
 '30000232',
 '30000233',
 '30000235',
 '30000236',
 '30000237',
 '30000238',
 '30000239',
 '30000240',
 '30000241',
 '30000242',
 '30000243',
 '30000244',
 '30000245',
 '30000246',
 '30000247',
 '30000248',
 '30000249',
 '30000250',
 '30000251',
 '30000252',
 '30000253',
 '30000254',
 '30000255',
 '30000256',
 '30000257',
 '30000258',
 '30000259',
 '30000260',
 '30000261',
 '30000262',
 '30000263',
 '30000264',
 '30000265',
 '30000266',
 '30000267',
 '30000268',
 '30000269',
 '30000270',
 '30000271',
 '30000272',
 '30000273',
 '30000274',
 '30000275',
 '30000276',
 '30000277',
 '30000278',
 '30000279',
 '30000280',
 '30000281',
 '30000282',
 '30000283',
 '30000284',
 '30000285',
 '30000286',
 '30000287',
 '30000288',
 '30000289',
 '30000290',
 '30000291',
 '30000292',
 '30000293',
 '30000294',
 '30000295',
 '30000296',
 '30000297',
 '30000298',
 '30000299',
 '30000300',
 '30000301',
 '30000302',
 '30000303',
 '30000304',
 '30000305',
 '30000306',
 '30000307',
 '30000308',
 '30000309',
 '30000310',
 '30000311',
 '30000312',
 '30000313',
 '30000314',
 '30000315',
 '30000316',
 '30000317',
 '30000318',
 '30000319',
 '30000320',
 '30000321',
 '30000338',
 '30000339',
 '30000340',
 '30000341',
 '30000342',
 '30000343',
 '30000344',
 '30000345',
 '30000346',
 '30000347',
 '30000348',
 '30000349',
 '30000350',
 '30000351',
 '30000352',
 '30000353',
 '30000354',
 '30000355',
 '30000356',
 '30000357',
 '30000358',
 '30000359',
 '30000360',
 '30000361',
 '30000362',
 '30000363',
 '30000364',
 '30000365',
 '30000366',
 '30000367',
 '30000368',
 '30000369',
 '30000370',
 '30000371',
 '30000372',
 '30000373',
 '30000374',
 '30000375',
 '30000376',
 '30000377',
 '30000378',
 '30000379',
 '30000380',
 '30000381',
 '30000382',
 '30000383',
 '30000384',
 '30000385',
 '30000386',
 '30000387',
 '30000388',
 '30000389',
 '30000390',
 '30000391',
 '30000392',
 '30000393',
 '30000394',
 '30000395',
 '30000396',
 '30000397',
 '30000398',
 '30000399',
 '30000400',
 '30000401',
 '30000402',
 '30000403',
 '30000404',
 '30000406',
 '30000407',
 '30000408',
 '30000409',
 '30000410',
 '30000411',
 '30000412',
 '30000413',
 '30000414',
 '30000415',
 '30000416',
 '30000418',
 '30000419',
 '30000420',
 '30000424',
 '30000425',
 '30000426',
 '30000427',
 '30000428',
 '30000429',
 '30000430',
 '30000436',
 '30000438',
 '30000439',
 '30000442',
 '30000449',
 '30000450',
 '30000451',
 '30000452',
 '30000456',
 '30000460',
 '30000464',
 '30000468',
 '30000469',
 '30000470',
 '30000471',
 '30000472',
 '30000473',
 '30000475',
 '30000476',
 '30000477',
 '30000478',
 '30000479',
 '30000480',
 '30000481',
 '30000482',
 '30000483',
 '30000484',
 '30000485',
 '30000486',
 '30000487',
 '30000488',
 '30000489',
 '30000490',
 '30000491',
 '30000492',
 '30000493',
 '30000494',
 '30000495',
 '30000496',
 '30000497',
 '30000498',
 '30000499',
 '30000500',
 '30000501',
 '30000502',
 '30000503',
 '30000504',
 '30000505',
 '30000506',
 '30000507',
 '30000508',
 '30000509',
 '30000510',
 '30000511',
 '30000512',
 '30000513',
 '30000514',
 '30000515',
 '30000516',
 '30000517',
 '30000518',
 '30000519',
 '30000521',
 '30000522',
 '30000523',
 '30000524',
 '30000525',
 '30000526',
 '30000527',
 '30000528',
 '30000529',
 '30000530',
 '30000533',
 '30000538',
 '30000539',
 '30000540',
 '30000541',
 '30000542',
 '30000543',
 '30000544',
 '30000545',
 '30000546',
 '30000547',
 '30000548',
 '30000549',
 '30000550',
 '30000552',
 '30000554',
 '30000556',
 '30000558',
 '30000560',
 '30000562',
 '30000564',
 '30000566',
 '30000568',
 '30000570',
 '30000572',
 '30000574',
 '30000576',
 '30000578',
 '30000580',
 '30000582',
 '30000583',
 '30000584',
 '30000585',
 '30000586',
 '30000588',
 '30000589',
 '30000590',
 '30000591',
 '30000592',
 '30000610',
 '30000615',
 '30000616',
 '30000617',
 '30000618',
 '30000619',
 '30000620',
 '30000621',
 '30000622',
 '30000623',
 '30000624',
 '30000625',
 '30000626',
 '30000627',
 '30000628',
 '30000629',
 '30000630',
 '30000631',
 '30000632',
 '30000633',
 '30000634',
 '30000640',
 '30000641',
 '30000642',
 '30000643',
 '30000644',
 '30000645',
 '30000646',
 '30000647',
 '30000648',
 '30000649',
 '30000650',
 '30000651',
 '30000652',
 '30000653',
 '30000654',
 '30000655',
 '30000656',
 '30000657',
 '30000658',
 '30000659',
 '30000660',
 '30000662',
 '30000666',
 '30000667',
 '30000668',
 '30000669',
 '30000670',
 '30000671',
 '30000672',
 '30000673',
 '30000674',
 '30000675',
 '30000676',
 '30000677',
 '30000678',
 '30000679',
 '30000680',
 '30000681',
 '30000682',
 '30000683',
 '30000684',
 '30000685',
 '30000686',
 '30000687',
 '30000688',
 '30000689',
 '30000690',
 '30000691',
 '30000692',
 '30000693',
 '30000694',
 '30000695',
 '30000696',
 '30000697',
 '30000698',
 '30000720',
 '30000721',
 '30000730',
 '30000737',
 '30000746',
 '30000747',
 '30000753',
 '30000757',
 '30000758',
 '30000759',
 '30000773',
 '30000774',
 '30000775',
 '30000778',
 '30000780',
 '30000781',
 '30000782',
 '30000783',
 '30000788',
 '30000789',
 '30000790',
 '30000791',
 '30000794',
 '30000795',
 '30000796',
 '30000798',
 '30000799',
 '30000800',
 '30000804',
 '30000805',
 '30000806',
 '30000808',
 '30000810',
 '30000813',
 '30000817',
 '30000819',
 '30000821',
 '30000822',
 '30000823',
 '30000824',
 '30000830',
 '30000832',
 '30000834',
 '30000835',
 '30000836',
 '30000837',
 '30000838',
 '30000839',
 '30000840',
 '30000841',
 '30000842',
 '30000843',
 '30000844',
 '30000845',
 '30000846',
 '30000847',
 '30000848',
 '30000849',
 '30000850',
 '30000851',
 '30000852',
 '30000853',
 '30000855',
 '30000856',
 '30000857',
 '30000858',
 '30000859',
 '30000860',
 '30000861',
 '30000862',
 '30000863',
 '30000868',
 '30000869',
 '30000873',
 '30000875',
 '30000876',
 '30000877',
 '30000878',
 '30000880',
 '30000881',
 '30000884',
 '30000885',
 '30000886',
 '30000887',
 '30000888',
 '30000889',
 '30000890',
 '30000891',
 '30000892',
 '30000893',
 '30000894',
 '30000895',
 '30000896',
 '30000897',
 '30000898',
 '30000899',
 '30000900',
 '30000901',
 '30000902',
 '30000903',
 '30000904',
 '30000905',
 '30000906',
 '30000907',
 '30000908',
 '30000909',
 '30000910',
 '30000911',
 '30000912',
 '30000913',
 '30000914',
 '30000915',
 '30000916',
 '30000917',
 '30000918',
 '30000919',
 '30000920',
 '30000921',
 '30000922',
 '30000923',
 '30000924',
 '30000925',
 '30000926',
 '30000927',
 '30000928',
 '30000929',
 '30000930',
 '30000931',
 '30000932',
 '30000933',
 '30000934',
 '30000935',
 '30000936',
 '30000937',
 '30000938',
 '30000939',
 '30000940',
 '30000941',
 '30000942',
 '30000943',
 '30000944',
 '30000945',
 '30000946',
 '30000947',
 '30000948',
 '30000949',
 '30000950',
 '30000951',
 '30000968',
 '30000970',
 '30000997',
 '30000998',
 '30000999',
 '30001000',
 '30001001',
 '30001002',
 '30001003',
 '30001004',
 '30001005',
 '30001007',
 '30001009',
 '30001010',
 '30001011',
 '30001012',
 '30001013',
 '30001014',
 '30001015',
 '30001016',
 '30001017',
 '30001018',
 '30001019',
 '30001020',
 '30001021',
 '30001022',
 '30001023',
 '30001024',
 '30001025',
 '30001026',
 '30001027',
 '30001028',
 '30001029',
 '30001030',
 '30001031',
 '30001032',
 '30001033',
 '30001034',
 '30001035',
 '30001036',
 '30001037',
 '30001038',
 '30001039',
 '30001040',
 '30001041',
 '30001042',
 '30001043',
 '30001044',
 '30001045',
 '30001046',
 '30001047',
 '30001048',
 '30001050',
 '30001052',
 '30001060',
 '30001063',
 '30001064',
 '30001065',
 '30001066',
 '30001069',
 '30001076',
 '30001079',
 '30001080',
 '30001081',
 '30001082',
 '30001083',
 '30001084',
 '30001085',
 '30001097',
 '30001100',
 '30001103',
 '30001104',
 '30001105',
 '30001106',
 '30001107',
 '30001108',
 '30001109',
 '30001121',
 '30001122',
 '30001124',
 '30001125',
 '30001126',
 '30001128',
 '30001129',
 '30001130',
 '30001131',
 '30001132',
 '30001139',
 '30001140',
 '30001141',
 '30001146',
 '30001147',
 '30001151',
 '30001159',
 '30001160',
 '30001163',
 '30001165',
 '30001170',
 '30001171',
 '30001172',
 '30001173',
 '30001174',
 '30001175',
 '30001176',
 '30001178',
 '30001179',
 '30001180',
 '30001181',
 '30001183',
 '30001184',
 '30001185',
 '30001186',
 '30001188',
 '30001189',
 '30001191',
 '30001192',
 '30001193',
 '30001196',
 '30001197',
 '30001198',
 '30001199',
 '30001200',
 '30001201',
 '30001203',
 '30001204',
 '30001205',
 '30001213',
 '30001214',
 '30001215',
 '30001216',
 '30001217',
 '30001219',
 '30001221',
 '30001222',
 '30001223',
 '30001224',
 '30001225',
 ...]

In [244]:
#store[0]

MANDT            910
MATNR       10000000
BWKEY           2000
BWTAR              0
LVORM              0
VERPR            247
BKLAS           7920
Material    10000000
Comments       Found
Match          Found
temp        10000000
index              0
matched     10000000
Name: 0, dtype: object

In [203]:
len(matches)

33196

In [130]:
type(matches)

list

In [149]:
#df2['D'] = df2.MATNR.isin(matches).astype(int)

In [150]:
#df2

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match,D
0,910,10000000,2000,0.0,0,247.0,7920.0,10000000,Found,Found,0
1,910,10000001,2000,0.0,0,0.0,7920.0,10000001,Found,Found,0
2,910,10000002,2000,0.0,0,0.0,7920.0,10000002,Found,Found,0
3,910,10000003,2000,0.0,0,0.0,7920.0,10000003,Found,Found,0
4,910,10000004,2000,0.0,0,0.0,7920.0,10000004,Found,Found,0
...,...,...,...,...,...,...,...,...,...,...,...
60276,910,PP10000268,4000,0.0,0,0.0,7980.0,0,0,0,0
60277,910,PP10000269,4000,0.0,0,0.0,7980.0,0,0,0,0
60278,910,PP10000270,4000,0.0,0,0.0,7980.0,0,0,0,0
60279,910,PP10000271,4000,0.0,0,0.0,7980.0,0,0,0,0
60280,910,PP10000272,4000,0.0,0,0.0,7980.0,0,0,0,0

In [153]:
#df2['D'].value_counts()

0    60281
Name: D, dtype: int64

In [154]:
#df2.drop(['D'], axis=1,inplace=True)

In [155]:
#df2

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match
0,910,10000000,2000,0.0,0,247.0,7920.0,10000000,Found,Found
1,910,10000001,2000,0.0,0,0.0,7920.0,10000001,Found,Found
2,910,10000002,2000,0.0,0,0.0,7920.0,10000002,Found,Found
3,910,10000003,2000,0.0,0,0.0,7920.0,10000003,Found,Found
4,910,10000004,2000,0.0,0,0.0,7920.0,10000004,Found,Found
...,...,...,...,...,...,...,...,...,...,...
60276,910,PP10000268,4000,0.0,0,0.0,7980.0,0,0,0
60277,910,PP10000269,4000,0.0,0,0.0,7980.0,0,0,0
60278,910,PP10000270,4000,0.0,0,0.0,7980.0,0,0,0
60279,910,PP10000271,4000,0.0,0,0.0,7980.0,0,0,0
60280,910,PP10000272,4000,0.0,0,0.0,7980.0,0,0,0

In [157]:
len(matches)

33196

In [159]:
matches_names={record for record in matches}

In [160]:
len(matches_names)

26907

In [163]:
#df2['MATNR'][0]==matches[0]

False

In [164]:
#matches[0]

'10000000'

In [192]:
#matches

['10000000',
 '10000001',
 '10000002',
 '10000003',
 '10000004',
 '10000005',
 '10000006',
 '10000007',
 '10000008',
 '10000009',
 '10000010',
 '10000011',
 '10000012',
 '10000013',
 '10000014',
 '10000015',
 '10000016',
 '10000017',
 '10000018',
 '10000019',
 '10000020',
 '10000021',
 '10000022',
 '10000023',
 '10000024',
 '10000025',
 '10000026',
 '10000027',
 '10000028',
 '10000029',
 '10000030',
 '10000031',
 '10000032',
 '10000033',
 '10000034',
 '10000035',
 '10000036',
 '10000037',
 '10000038',
 '10000039',
 '10000040',
 '10000041',
 '10000042',
 '10000043',
 '10000044',
 '10000045',
 '10000046',
 '10000047',
 '10000048',
 '10000049',
 '10000050',
 '10000051',
 '10000052',
 '10000053',
 '10000054',
 '10000055',
 '10000056',
 '10000057',
 '10000058',
 '10000059',
 '10000060',
 '10000061',
 '10000062',
 '10000063',
 '10000064',
 '10000065',
 '10000066',
 '10000067',
 '10000068',
 '10000069',
 '10000070',
 '10000071',
 '10000072',
 '10000073',
 '10000074',
 '10000075',
 '10000076',
 '10000077',
 '10000078',
 '10000079',
 '10000080',
 '10000081',
 '10000082',
 '10000083',
 '10000084',
 '10000085',
 '10000086',
 '10000086',
 '10000087',
 '10000087',
 '10000088',
 '10000089',
 '10000089',
 '10000090',
 '10000091',
 '10000092',
 '10000124',
 '10000125',
 '10000127',
 '10000130',
 '10000152',
 '10000153',
 '10000157',
 '10000160',
 '10000170',
 '10000171',
 '10000180',
 '10000182',
 '10000183',
 '10000184',
 '10000190',
 '10000191',
 '10000210',
 '10000221',
 '10000222',
 '10000223',
 '10000224',
 '10000225',
 '10000226',
 '10000230',
 '10000231',
 '10000231',
 '10000232',
 '10000233',
 '10000234',
 '10000235',
 '10000236',
 '10000237',
 '10000238',
 '10000239',
 '10000250',
 '10000251',
 '10000252',
 '10000260',
 '10000260',
 '10000260',
 '10000261',
 '10000261',
 '10000262',
 '10000262',
 '10000263',
 '10000263',
 '10000265',
 '10000265',
 '10000266',
 '10000266',
 '10000267',
 '10000267',
 '10000268',
 '10000268',
 '10000269',
 '10000269',
 '10000270',
 '10000270',
 '10000271',
 '10000271',
 '10000272',
 '10000272',
 '10000280',
 '10000281',
 '10000283',
 '10000284',
 '10000285',
 '10000286',
 '10000300',
 '10000302',
 '10000303',
 '10000315',
 '10000315',
 '10000319',
 '10000330',
 '10000330',
 '10000331',
 '10000331',
 '20000001',
 '20000002',
 '20000003',
 '20000004',
 '20000005',
 '20000006',
 '20000007',
 '20000008',
 '20000009',
 '20000010',
 '20000011',
 '20000012',
 '20000013',
 '20000014',
 '20000015',
 '20000016',
 '20000017',
 '20000018',
 '20000019',
 '20000020',
 '20000021',
 '20000022',
 '20000023',
 '20000024',
 '20000025',
 '20000026',
 '20000027',
 '20000028',
 '20000029',
 '20000030',
 '20000031',
 '20000042',
 '20000060',
 '20000061',
 '20000082',
 '20000083',
 '20000091',
 '20000104',
 '20000105',
 '20000108',
 '20000112',
 '20000113',
 '20000114',
 '20000124',
 '20000130',
 '20000131',
 '20000140',
 '20000160',
 '30000010',
 '30000011',
 '30000012',
 '30000013',
 '30000014',
 '30000015',
 '30000016',
 '30000017',
 '30000018',
 '30000019',
 '30000020',
 '30000021',
 '30000022',
 '30000023',
 '30000025',
 '30000026',
 '30000029',
 '30000052',
 '30000061',
 '30000068',
 '30000069',
 '30000070',
 '30000075',
 '30000076',
 '30000081',
 '30000083',
 '30000090',
 '30000093',
 '30000098',
 '30000100',
 '30000118',
 '30000133',
 '30000134',
 '30000135',
 '30000137',
 '30000138',
 '30000139',
 '30000140',
 '30000141',
 '30000142',
 '30000143',
 '30000144',
 '30000145',
 '30000146',
 '30000147',
 '30000148',
 '30000149',
 '30000150',
 '30000151',
 '30000152',
 '30000153',
 '30000154',
 '30000155',
 '30000156',
 '30000157',
 '30000158',
 '30000159',
 '30000160',
 '30000161',
 '30000162',
 '30000163',
 '30000164',
 '30000165',
 '30000166',
 '30000167',
 '30000168',
 '30000169',
 '30000170',
 '30000171',
 '30000172',
 '30000173',
 '30000174',
 '30000175',
 '30000176',
 '30000177',
 '30000178',
 '30000179',
 '30000180',
 '30000181',
 '30000182',
 '30000183',
 '30000184',
 '30000185',
 '30000186',
 '30000187',
 '30000188',
 '30000189',
 '30000190',
 '30000191',
 '30000192',
 '30000193',
 '30000194',
 '30000195',
 '30000196',
 '30000197',
 '30000198',
 '30000199',
 '30000200',
 '30000201',
 '30000202',
 '30000203',
 '30000204',
 '30000205',
 '30000206',
 '30000207',
 '30000208',
 '30000209',
 '30000210',
 '30000211',
 '30000212',
 '30000213',
 '30000214',
 '30000215',
 '30000216',
 '30000217',
 '30000218',
 '30000219',
 '30000220',
 '30000221',
 '30000222',
 '30000223',
 '30000224',
 '30000225',
 '30000226',
 '30000227',
 '30000228',
 '30000229',
 '30000230',
 '30000231',
 '30000232',
 '30000233',
 '30000235',
 '30000236',
 '30000237',
 '30000238',
 '30000239',
 '30000240',
 '30000241',
 '30000242',
 '30000243',
 '30000244',
 '30000245',
 '30000246',
 '30000247',
 '30000248',
 '30000249',
 '30000250',
 '30000251',
 '30000252',
 '30000253',
 '30000254',
 '30000255',
 '30000256',
 '30000257',
 '30000258',
 '30000259',
 '30000260',
 '30000261',
 '30000262',
 '30000263',
 '30000264',
 '30000265',
 '30000266',
 '30000267',
 '30000268',
 '30000269',
 '30000270',
 '30000271',
 '30000272',
 '30000273',
 '30000274',
 '30000275',
 '30000276',
 '30000277',
 '30000278',
 '30000279',
 '30000280',
 '30000281',
 '30000282',
 '30000283',
 '30000284',
 '30000285',
 '30000286',
 '30000287',
 '30000288',
 '30000289',
 '30000290',
 '30000291',
 '30000292',
 '30000293',
 '30000294',
 '30000295',
 '30000296',
 '30000297',
 '30000298',
 '30000299',
 '30000300',
 '30000301',
 '30000302',
 '30000303',
 '30000304',
 '30000305',
 '30000306',
 '30000307',
 '30000308',
 '30000309',
 '30000310',
 '30000311',
 '30000312',
 '30000313',
 '30000314',
 '30000315',
 '30000316',
 '30000317',
 '30000318',
 '30000319',
 '30000320',
 '30000321',
 '30000338',
 '30000339',
 '30000340',
 '30000341',
 '30000342',
 '30000343',
 '30000344',
 '30000345',
 '30000346',
 '30000347',
 '30000348',
 '30000349',
 '30000350',
 '30000351',
 '30000352',
 '30000353',
 '30000354',
 '30000355',
 '30000356',
 '30000357',
 '30000358',
 '30000359',
 '30000360',
 '30000361',
 '30000362',
 '30000363',
 '30000364',
 '30000365',
 '30000366',
 '30000367',
 '30000368',
 '30000369',
 '30000370',
 '30000371',
 '30000372',
 '30000373',
 '30000374',
 '30000375',
 '30000376',
 '30000377',
 '30000378',
 '30000379',
 '30000380',
 '30000381',
 '30000382',
 '30000383',
 '30000384',
 '30000385',
 '30000386',
 '30000387',
 '30000388',
 '30000389',
 '30000390',
 '30000391',
 '30000392',
 '30000393',
 '30000394',
 '30000395',
 '30000396',
 '30000397',
 '30000398',
 '30000399',
 '30000400',
 '30000401',
 '30000402',
 '30000403',
 '30000404',
 '30000406',
 '30000407',
 '30000408',
 '30000409',
 '30000410',
 '30000411',
 '30000412',
 '30000413',
 '30000414',
 '30000415',
 '30000416',
 '30000418',
 '30000419',
 '30000420',
 '30000424',
 '30000425',
 '30000426',
 '30000427',
 '30000428',
 '30000429',
 '30000430',
 '30000436',
 '30000438',
 '30000439',
 '30000442',
 '30000449',
 '30000450',
 '30000451',
 '30000452',
 '30000456',
 '30000460',
 '30000464',
 '30000468',
 '30000469',
 '30000470',
 '30000471',
 '30000472',
 '30000473',
 '30000475',
 '30000476',
 '30000477',
 '30000478',
 '30000479',
 '30000480',
 '30000481',
 '30000482',
 '30000483',
 '30000484',
 '30000485',
 '30000486',
 '30000487',
 '30000488',
 '30000489',
 '30000490',
 '30000491',
 '30000492',
 '30000493',
 '30000494',
 '30000495',
 '30000496',
 '30000497',
 '30000498',
 '30000499',
 '30000500',
 '30000501',
 '30000502',
 '30000503',
 '30000504',
 '30000505',
 '30000506',
 '30000507',
 '30000508',
 '30000509',
 '30000510',
 '30000511',
 '30000512',
 '30000513',
 '30000514',
 '30000515',
 '30000516',
 '30000517',
 '30000518',
 '30000519',
 '30000521',
 '30000522',
 '30000523',
 '30000524',
 '30000525',
 '30000526',
 '30000527',
 '30000528',
 '30000529',
 '30000530',
 '30000533',
 '30000538',
 '30000539',
 '30000540',
 '30000541',
 '30000542',
 '30000543',
 '30000544',
 '30000545',
 '30000546',
 '30000547',
 '30000548',
 '30000549',
 '30000550',
 '30000552',
 '30000554',
 '30000556',
 '30000558',
 '30000560',
 '30000562',
 '30000564',
 '30000566',
 '30000568',
 '30000570',
 '30000572',
 '30000574',
 '30000576',
 '30000578',
 '30000580',
 '30000582',
 '30000583',
 '30000584',
 '30000585',
 '30000586',
 '30000588',
 '30000589',
 '30000590',
 '30000591',
 '30000592',
 '30000610',
 '30000615',
 '30000616',
 '30000617',
 '30000618',
 '30000619',
 '30000620',
 '30000621',
 '30000622',
 '30000623',
 '30000624',
 '30000625',
 '30000626',
 '30000627',
 '30000628',
 '30000629',
 '30000630',
 '30000631',
 '30000632',
 '30000633',
 '30000634',
 '30000640',
 '30000641',
 '30000642',
 '30000643',
 '30000644',
 '30000645',
 '30000646',
 '30000647',
 '30000648',
 '30000649',
 '30000650',
 '30000651',
 '30000652',
 '30000653',
 '30000654',
 '30000655',
 '30000656',
 '30000657',
 '30000658',
 '30000659',
 '30000660',
 '30000662',
 '30000666',
 '30000667',
 '30000668',
 '30000669',
 '30000670',
 '30000671',
 '30000672',
 '30000673',
 '30000674',
 '30000675',
 '30000676',
 '30000677',
 '30000678',
 '30000679',
 '30000680',
 '30000681',
 '30000682',
 '30000683',
 '30000684',
 '30000685',
 '30000686',
 '30000687',
 '30000688',
 '30000689',
 '30000690',
 '30000691',
 '30000692',
 '30000693',
 '30000694',
 '30000695',
 '30000696',
 '30000697',
 '30000698',
 '30000720',
 '30000721',
 '30000730',
 '30000737',
 '30000746',
 '30000747',
 '30000753',
 '30000757',
 '30000758',
 '30000759',
 '30000773',
 '30000774',
 '30000775',
 '30000778',
 '30000780',
 '30000781',
 '30000782',
 '30000783',
 '30000788',
 '30000789',
 '30000790',
 '30000791',
 '30000794',
 '30000795',
 '30000796',
 '30000798',
 '30000799',
 '30000800',
 '30000804',
 '30000805',
 '30000806',
 '30000808',
 '30000810',
 '30000813',
 '30000817',
 '30000819',
 '30000821',
 '30000822',
 '30000823',
 '30000824',
 '30000830',
 '30000832',
 '30000834',
 '30000835',
 '30000836',
 '30000837',
 '30000838',
 '30000839',
 '30000840',
 '30000841',
 '30000842',
 '30000843',
 '30000844',
 '30000845',
 '30000846',
 '30000847',
 '30000848',
 '30000849',
 '30000850',
 '30000851',
 '30000852',
 '30000853',
 '30000855',
 '30000856',
 '30000857',
 '30000858',
 '30000859',
 '30000860',
 '30000861',
 '30000862',
 '30000863',
 '30000868',
 '30000869',
 '30000873',
 '30000875',
 '30000876',
 '30000877',
 '30000878',
 '30000880',
 '30000881',
 '30000884',
 '30000885',
 '30000886',
 '30000887',
 '30000888',
 '30000889',
 '30000890',
 '30000891',
 '30000892',
 '30000893',
 '30000894',
 '30000895',
 '30000896',
 '30000897',
 '30000898',
 '30000899',
 '30000900',
 '30000901',
 '30000902',
 '30000903',
 '30000904',
 '30000905',
 '30000906',
 '30000907',
 '30000908',
 '30000909',
 '30000910',
 '30000911',
 '30000912',
 '30000913',
 '30000914',
 '30000915',
 '30000916',
 '30000917',
 '30000918',
 '30000919',
 '30000920',
 '30000921',
 '30000922',
 '30000923',
 '30000924',
 '30000925',
 '30000926',
 '30000927',
 '30000928',
 '30000929',
 '30000930',
 '30000931',
 '30000932',
 '30000933',
 '30000934',
 '30000935',
 '30000936',
 '30000937',
 '30000938',
 '30000939',
 '30000940',
 '30000941',
 '30000942',
 '30000943',
 '30000944',
 '30000945',
 '30000946',
 '30000947',
 '30000948',
 '30000949',
 '30000950',
 '30000951',
 '30000968',
 '30000970',
 '30000997',
 '30000998',
 '30000999',
 '30001000',
 '30001001',
 '30001002',
 '30001003',
 '30001004',
 '30001005',
 '30001007',
 '30001009',
 '30001010',
 '30001011',
 '30001012',
 '30001013',
 '30001014',
 '30001015',
 '30001016',
 '30001017',
 '30001018',
 '30001019',
 '30001020',
 '30001021',
 '30001022',
 '30001023',
 '30001024',
 '30001025',
 '30001026',
 '30001027',
 '30001028',
 '30001029',
 '30001030',
 '30001031',
 '30001032',
 '30001033',
 '30001034',
 '30001035',
 '30001036',
 '30001037',
 '30001038',
 '30001039',
 '30001040',
 '30001041',
 '30001042',
 '30001043',
 '30001044',
 '30001045',
 '30001046',
 '30001047',
 '30001048',
 '30001050',
 '30001052',
 '30001060',
 '30001063',
 '30001064',
 '30001065',
 '30001066',
 '30001069',
 '30001076',
 '30001079',
 '30001080',
 '30001081',
 '30001082',
 '30001083',
 '30001084',
 '30001085',
 '30001097',
 '30001100',
 '30001103',
 '30001104',
 '30001105',
 '30001106',
 '30001107',
 '30001108',
 '30001109',
 '30001121',
 '30001122',
 '30001124',
 '30001125',
 '30001126',
 '30001128',
 '30001129',
 '30001130',
 '30001131',
 '30001132',
 '30001139',
 '30001140',
 '30001141',
 '30001146',
 '30001147',
 '30001151',
 '30001159',
 '30001160',
 '30001163',
 '30001165',
 '30001170',
 '30001171',
 '30001172',
 '30001173',
 '30001174',
 '30001175',
 '30001176',
 '30001178',
 '30001179',
 '30001180',
 '30001181',
 '30001183',
 '30001184',
 '30001185',
 '30001186',
 '30001188',
 '30001189',
 '30001191',
 '30001192',
 '30001193',
 '30001196',
 '30001197',
 '30001198',
 '30001199',
 '30001200',
 '30001201',
 '30001203',
 '30001204',
 '30001205',
 '30001213',
 '30001214',
 '30001215',
 '30001216',
 '30001217',
 '30001219',
 '30001221',
 '30001222',
 '30001223',
 '30001224',
 '30001225',
 ...]

In [166]:
#df2['temp']=pd.Series(matches)

In [167]:
#df2

,MANDT,MATNR,BWKEY,BWTAR,LVORM,VERPR,BKLAS,Material,Comments,Match,temp
0,910,10000000,2000,0.0,0,247.0,7920.0,10000000,Found,Found,10000000
1,910,10000001,2000,0.0,0,0.0,7920.0,10000001,Found,Found,10000001
2,910,10000002,2000,0.0,0,0.0,7920.0,10000002,Found,Found,10000002
3,910,10000003,2000,0.0,0,0.0,7920.0,10000003,Found,Found,10000003
4,910,10000004,2000,0.0,0,0.0,7920.0,10000004,Found,Found,10000004
...,...,...,...,...,...,...,...,...,...,...,...
60276,910,PP10000268,4000,0.0,0,0.0,7980.0,0,0,0,NaN
60277,910,PP10000269,4000,0.0,0,0.0,7980.0,0,0,0,NaN
60278,910,PP10000270,4000,0.0,0,0.0,7980.0,0,0,0,NaN
60279,910,PP10000271,4000,0.0,0,0.0,7980.0,0,0,0,NaN
60280,910,PP10000272,4000,0.0,0,0.0,7980.0,0,0,0,NaN

In [170]:
#ltotal=df2['MATNR']==df2['temp']

In [174]:
#df2['temp']=df2['temp'].astype(str)

In [180]:
#df2['MATNR']=df2['MATNR'].astype(str)

In [182]:
#total=df2['MATNR']==df2['temp']

In [183]:
#total.value_counts()

False    60185
True        96
dtype: int64

In [184]:
#df2['temp'].value_counts()

nan         27085
70002196        4
70001775        4
70004899        4
70001747        4
            ...
30015800        1
30020968        1
30025320        1
30007194        1
30018433        1
Name: temp, Length: 26908, dtype: int64

In [185]:
#temp=df2['temp']

In [200]:
#df2['temp'][4]

'10000004'